In [126]:
import pandas as pd
import numpy as np

In [127]:
# The path to our CSV file
source = "Wines.csv"

# Read our data into pandas
df = pd.read_csv(source)
df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery
0,1/1/1919,Spain,Cava,1919 Brut Selecció,88,$13.00,Catalonia,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),Sparkling Blend,L'Arboc
1,1/1/1929,Italy,Vernaccia di San Gimignano,NaN,87,$14.00,Tuscany,Guidi 1929 2015 Vernaccia di San Gimignano,Vernaccia,Guidi 1929
2,1/1/1929,Italy,Sangiovese di Romagna Superiore,Prugneto,84,$15.00,Central Italy,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Sangiovese,Poderi dal Nespoli 1929
3,1/1/1934,Portugal,NaN,Reserva Velho,93,$495.00,Colares,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Ramisco,Adega Viuva Gomes
4,1/1/1945,France,Rivesaltes,Legend Vintage,95,$350.00,Languedoc-Roussillon,Gérard Bertrand 1945 Legend Vintage Red (Rives...,Red Blend,Gérard Bertrand

In [128]:
# Get a list of all of our columns for easy reference
df.columns

Index(['Vintage', 'Country', 'County', 'Designation', 'Points', 'Price',
       'Province', 'Title', 'Variety', 'Winery'],
      dtype='object')

In [129]:
len(df.index)

24997

In [130]:
#df['Wine'] = df['Title'].str.rstrip(')').str.split('(').str[1]
#df.head()

In [143]:
df['Price']=df['Price'].replace('[\$,)]','', regex=True).replace('[(]','-',regex=True).astype(float)

df.head()

,Vintage,Country,County,Designation,Points,Price,Province,Title,Variety,Winery
0,1/1/1919,Spain,Cava,1919 Brut Selecció,88,13.0,Catalonia,L'Arboc NV 1919 Brut Selecció Sparkling (Cava),Sparkling Blend,L'Arboc
1,1/1/1929,Italy,Vernaccia di San Gimignano,NaN,87,14.0,Tuscany,Guidi 1929 2015 Vernaccia di San Gimignano,Vernaccia,Guidi 1929
2,1/1/1929,Italy,Sangiovese di Romagna Superiore,Prugneto,84,15.0,Central Italy,Poderi dal Nespoli 1929 2011 Prugneto (Sangiov...,Sangiovese,Poderi dal Nespoli 1929
3,1/1/1934,Portugal,NaN,Reserva Velho,93,495.0,Colares,Adega Viuva Gomes 1934 Reserva Velho Red (Cola...,Ramisco,Adega Viuva Gomes
4,1/1/1945,France,Rivesaltes,Legend Vintage,95,350.0,Languedoc-Roussillon,Gérard Bertrand 1945 Legend Vintage Red (Rives...,Red Blend,Gérard Bertrand

In [144]:
#clean_df = df.dropna(how="any")
#clean_df.count()

In [145]:
#clean_df=df.groupby('Country')
#clean_df.count().head()

In [146]:
#clean_df.dtypes

In [150]:
Total_Average_Price=df['Price'].mean()
Total_Average_Price

35.46708021390374

In [159]:
per_country = df.groupby(["Country"]).mean()["Price"]

per_country.head()

Country
Argentina    24.325768
Australia    37.617391
Austria      29.349736
Brazil       17.000000
Bulgaria     15.612903
Name: Price, dtype: float64

In [160]:
per_variety = df.groupby(["Variety"]).mean()["Price"]
per_variety.head()

Variety
Agiorgitiko    25.375000
Aglianico      35.051724
Albana         23.625000
Albariño       21.795699
Aleatico       55.000000
Name: Price, dtype: float64

In [177]:
per_country_summary = pd.DataFrame({"Average Price by Country": per_country})
per_country_summary.head(5)

           Average Price by Country
Country
Argentina                 24.325768
Australia                 37.617391
Austria                   29.349736
Brazil                    17.000000
Bulgaria                  15.612903

In [178]:
top_country = per_country_summary.sort_values(["Average Price by Country"], ascending=False)
top_country.head(5)

             Average Price by Country
Country
Switzerland                160.000000
Hungary                     66.206897
Germany                     45.917874
England                     43.333333
France                      41.340231

In [179]:
per_variety_summary = pd.DataFrame({"Average Price by Variety": per_variety})
per_variety_summary.head(5)

             Average Price by Variety
Variety
Agiorgitiko                 25.375000
Aglianico                   35.051724
Albana                      23.625000
Albariño                    21.795699
Aleatico                    55.000000

In [185]:
top_variety = per_variety_summary.sort_values(["Average Price by Variety"], ascending=False)

top_variety.head(5)

                 Average Price by Variety
Variety
Ramisco                        495.000000
Furmint                        149.000000
Champagne Blend                101.571429
Malbec Blend                    95.000000
Mazuelo                         92.000000